.choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0 0.4rem 1.4rem 0 rgba(86, 165, 235, 0.25);
  background-color: #fff;
}

.choice-container:hover {
  cursor: pointer;
  border: 0.2rem solid #56a5eb;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  color: #fff;
  background: #56a5eb;
  padding: 1.5rem 2.5rem;
}

.choice-text {
  padding: 1.5rem;
}
